[submodule "themes/JuiceBar"]
	path = themes/JuiceBar
	url = https://github.com/hotjuicew/hugo-JuiceBar.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
